body {
    font-family: Arial;
    background-color: #0f172a;
    color: white;
    margin: 0;
}

header {
    background-color: #020617;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #1e293b;
    border-radius: 10px;
}

h1, h2 {
    color: #38bdf8;
}

.profile {
    width: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #020617;
}
